@font-face {
  font-family: "Titles";
  src: url("fonts/Mackinac.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Text";
  src: url("fonts/DMSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TextMedium";
  src: url("fonts/DMSans_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav a {
  font-family: "TextMedium", sans-serif;
}

h1 {
  font-family: "Titles", sans-serif;
  font-size: 3.44rem;
}

h2 {
  font-family: "Titles", sans-serif;
  font-size: 2.81rem;
}

.subTitle {
  font-family: "TextMedium", sans-serif;
  font-size: 1.25rem;
}

p {
  font-family: "Text", sans-serif;
  font-size: 1rem;
}

.info-block p {
  font-size: 0.9375rem;
}

h3 {
  font-family: "Titles", sans-serif;
  font-size: 2.1875rem;
}

.option h3 {
  font-family: "TextMedium", sans-serif;
  font-size: 1rem;
}
