.options-section {
  padding: 8.125rem 6.25rem;
  background-color: #f9f9f9;
}

.options-header {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  margin-bottom: 3.125rem;
}

.options-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.option {
  flex: 1;
  padding: 1.25rem;
  text-align: center;
  border-radius: 0.625rem;
  border: 0.0625rem solid #ccc;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.option:hover {
  background-color: #ffffff;
  border-color: #060606;
  transform: scale(1.02);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.option.active {
  background-color: #060606;
  color: #fff;
}

.image-text-container img {
  max-width: 50%;
  border-radius: 0.75rem;
}

.image-text-container p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.image-text-container {
  display: flex;
  align-items: flex-start;
  gap: 12.875rem;
  margin-bottom: 1.875rem;
}

body.high-contrast .options-section,
body.high-contrast .options-header,
body.high-contrast .options-container,
body.high-contrast .option,
body.high-contrast .image-text-container,
body.high-contrast .image-text-container p {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #fff !important;
}

body.high-contrast .option.active {
  background-color: #fff !important;
  color: #000 !important;
}

.tags {
  margin-top: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.tags p {
  border: 0.0625rem solid #333;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  background: #f5f5f5;
  margin: 0;
}
